@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white;
}

.light {
  background-color: rgb(165,238,220);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light;
  --homePage: 165, 238, 220;
  --navBar: 255,255,255;
  --textColor: 0,0,0;
  --card: 255,255,255;
  --checkout: 204,255,153;
}

.dark {
  background-color: rgb(108,95,95);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
  --homePage: 108, 95, 95;
  --navBar: 47,44,44;
  --textColor: 242,238,240;
  --card: 47,44,44;
  --checkout: 139,141,139;

}
